<h1> Dog Name: <%= @dog.name %> </h1>
<h1> Dog Breed: <%= @dog.breed %></h1>
<h1> Dog Age: <%= @dog.age %> </h1>

<ul>
    <% @dog.employees.each do |employee| %>
        <li><%= link_to employee.first_name, employee_path(employee) %></li>
    <% end %>
</ul>


